<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- head 인클루드 -->
  <%-include('./include/head.ejs')%>
  <style>
    h1,
    div {
      text-align: center;
    }

    p {
      white-space: pre-line;
    }
  </style>
</head>

<body>
  <!-- header 인클루드 -->
  <%-include('./include/header.ejs')%>
  <!--
    {
        contentID:1,
        title:"봄",
        content:"백엔드 공부",
        img:null, //null or path(string)정보 입력
    },
-->
  <h1><%=title%></h1>
  <div>
    <p><%=content%></p>
    <%if(img){%>
    <img src="/<%=img%>" alt="<%=contentID%>번글 이미지" width="300" />
    <%}%>
</div>
</body>

</html>